  <html>
   <head>
     <title>$i18n.getText("questionary.error.page.title")</title>
     <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
     <!—Insertion of Confluence Header -->
     <meta name="decorator" content="atl.general">
   </head>
   <body>
     <h1>Your name has not been entered</h1>
    <a href="$req.contextPath/plugins/questionary/input.action">Return to the questionnaire input form</a>
  </body>
 </html>
