<html>
   <head>
    <title>$i18n.getText("questionary.inputForm.page.title")</title>
     <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
     <!-- Insertion of Confluence Header  -->
     <meta name="decorator" content="atl.general">
    <script type="text/javascript" src="/js/test.js"></script>
   </head>
   <body>
     <h1> Please cooperate with questionnaire </h1>
    <form method="POST" action="$req.contextPath/plugins/questionary/output.action" class="aui">
    <div class="field-group">
        <fieldset class="group">
            <legend><span>Name</span><span class="aui-icon icon-required">(required)</span></legend>
            <input class="text medium-field" type="text" id="uname" name="uname" placeholder="your name...">
            <div class="description">please type your name</div>
        </fieldset>
    </div>
    <div class="field-group">
        <fieldset class="group">
            <legend><span>Gender</span></legend>
            <div class="radio">
                <input class="radio" type="radio" checked="checked" value="0" 
                       name="sex" id="male">
                <label for="male">Male</label>
            </div>
            <div class="radio">
                <input class="radio" type="radio" value="1" 
                       name="sex" id="female">
                <label for="female">Female</label>
            </div>
        </fieldset>
    </div>
    <div class="field-group">
        <fieldset class="group">
            <legend><span>Intresting fields <br>（Multiple selections are allowed）：</span></legend>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb1" value="0">
                <label for="cb1">Baseball</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb2" value="1">
                <label for="cb2">Football</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb3" value="2">
                <label for="cb3">Rugby</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb4" value="3">
                <label for="cb4">Sumo</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb5" value="4">
                <label for="cb5">Tenis</label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="interests" id="cb6" value="5">
                <label for="cb6">Table Tenis</label>
            </div>
        </fieldset>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" value="Send">
        </div>
    </div> 
    </form>
  </body>
 </html>
