  <html>
   #set ($size = $action.interestsValue.size())
   #set ($flag = false)
   <head>
     <title>$i18n.getText("questionary.outputForm.page.title")</title>
     <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<!— Insertion Confluence Header -->
     <meta name="decorator" content="atl.general">
    #requireResource("jp.co.kodnet.plugins.sample.Sample-Plugin:test")
   </head>
  <body>
    <h1> Please verify your entry</h1>
    <table class="aui">
        <thead>
            <tr>
                <th id="name">Name</th>
                <th id="mail">Mail</th>
                <th id="password">Password</th>
                <th id="sex">Gender</th>
                <th id="interests">Interests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="name">$action.uname</td>
                <td headers="email">$action.email</td>
                <td headers="password">$action.password</td>
                <td headers="sex">$action.sexValue</td>
                <td class="interests" headers="order">
                    <table>
                    #foreach($value in $action.interestsValue)
                        #if($flag)
                         <tr>
                        #end
                         <td>$value</td>
                         </tr>
                        #set ($flag = true)
                     #end
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form method="GET" action="$req.contextPath/plugins/questionary/end.action">
      <input type = "submit" value="Confirm" class="aui-button aui-button-primary"/>
    </form>
  </body>
 </html>