  <html>
   #set ($size = $action.interestsValue.size())
   #set ($flag = false)
   <head>
     <title>$i18n.getText("questionary.outputForm.page.title")</title>
     <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<!— Insertion Confluence Header -->
     <meta name="decorator" content="atl.general">
   </head>
  <body>
    <h1> Please verify your entry</h1>
    <table class="aui aui-table-sortable">
        <thead>
            <tr>
                <th id="name" class="aui-table-column-issue-key">Name</th>
                <th id="sex">Gender</th>
                <th id="interests">Interests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="name">$action.uname</td>
                <td headers="sex">$action.sexValue</td>
                <td class="interests" headers="order">
                    <ul class="interests">
                    #if($size == 0)
                      <li>Nothing</li>
                    #end
                    #foreach($value in $action.interestsValue)
                       #if($flag)
                        <li>$value</li>
                       #end   
                       #set ($flag = true)
                    #end
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form method="GET" action="$req.contextPath/plugins/questionary/end.action">
      <input type = "submit" value="Confirm" class="aui-button aui-button-primary"/>
    </form>
  </body>
 </html>